/* General */
:root {
  --editorBackgroundColor: var(--vscode-editor-background);
  --boxBackgroundColor: white;
  --charSize: var(--vscode-editor-font-size);
}
body {
  margin: 0;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
*[onclick] {
  cursor: pointer;
}
.hidden {
  display: none !important;
}

/* Top */
#top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin: 1.2rem 0 0 0;
  line-height: 2rem;
}

/* Main */
#command-center {
  margin: 0 0.4rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(-2vh);
}
.bar {
  display: flex;
  justify-content: space-between;
}
#left-wing {
  color: inherit;
}
#word-count {
  color: inherit;
}
#word-count span {
  cursor: pointer;
}
#time-count {
  cursor: pointer;
}
#time-count span {
  cursor: pointer;
}
#language-selected {
  color: inherit;
}
#right-wing {
  color: inherit;
}

/* Words mode */
#typing-area {
  margin-top: 1rem;
  padding: 1.4rem 1rem;
  border-radius: 0.4rem;
  width: 80vw;
  max-width: 45rem;
}
#text-display {
  margin-bottom: 1rem;
  overflow: hidden;
}
#text-display > span {
  display: inline-block;
  margin: calc(var(--vscode-editor-font-size) * 0.3)
    calc(var(--vscode-editor-font-size) * 0.3);
}
#text-display span {
  font-size: var(--vscode-editor-font-size);
}
#input-field {
  width: 100%;
  border: none;
  font: inherit;
  padding: 0.4rem 1rem;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  background: var(--vscode-editor-background);
  color: inherit;
}
#restart-button {
  margin-left: 0.7rem;
  border: none;
  font: inherit;
  padding: 0.4rem 1rem;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  cursor: pointer;
  background: var(--vscode-editor-background);
  color: inherit;
}

/* Code snippet mode */
#coding-area {
  margin-top: 1rem;
  padding: 1rem 1rem;
  border-radius: 0.4rem;
  outline: none;
  width: 80vw;
  max-width: 55rem;
  max-height: 60vh;
  overflow: scroll;
  min-height: 4rem;
}
#code-display {
  overflow: hidden;
}
.code {
  position: relative;
}
#code-pre {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  overflow: visible;
}
#code-code {
  display: inline;
  width: fit-content;
  font-family: var(--vscode-editor-font-family);
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}
.char.topass {
  opacity: 0.62;
}
.charDiv {
  display: inline;
  overflow: hidden;
}
.char {
  color: inherit;
}
#cursor {
  display: inline-block;
  position: absolute;
  height: calc(var(--vscode-editor-font-size) * 1.55);
  width: calc(var(--vscode-editor-font-size) * 0.125);
  opacity: 1;
  top: 0;
  animation: cursor 0.85s infinite ease-in;
}
@keyframes cursor {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}
.codeButton {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  z-index: 999;
  opacity: 70%;
}
.codeButton:hover {
  opacity: 100%;
}
/* For Javascript access */
#charDimensions {
  height: (--vscode-editor-font-size);
  width: (--vscode-editor-font-size);
}
#editorBackgroundColor {
  background: var(--vscode-editor-background);
}

/* Prism.js */
code[class*="language-"],
pre[class*="language-"] {
  background: none;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}
pre.line-numbers > code {
  position: relative;
}
.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  letter-spacing: -1px;
  border-right: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}
.line-numbers-rows > span:before {
  content: counter(linenumber);
  display: block;
  padding-right: 0.8em;
  text-align: right;
}
