/* General */
#text-display,
#code-display,
#typing-area,
#coding-area {
  background: var(--boxBackgroundColor);
}
::-webkit-scrollbar-corner {
  background-color: var(--boxBackgroundColor);
}

/* Words mode */
#input-field.wrong {
  color: #e05561;
}
.highlight {
  color: #f0a45d;
}
.correct {
  color: #8cc265;
}
.wrong {
  color: #e05561;
}

/* Code snippet mode */
.char.notpassed {
  background: #e0556170;
}
#cursor {
  background: #5dbeff;
}

/* Prism.js */
code[class*="language-"],
pre[class*="language-"] {
  color: #c1c9d4;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #909aad;
}
.token.punctuation {
  color: #c1c9d4;
}
.token.selector,
.token.tag {
  color: #e06c75;
}
.token.property,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.attr-name,
.token.deleted {
  color: #d19a66;
}
.token.string,
.token.char,
.token.attr-value,
.token.builtin,
.token.inserted {
  color: #98c379;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #56b6c2;
}
.token.atrule,
.token.keyword {
  color: #c678dd;
}
.token.function {
  color: #61afef;
}
.token.regex,
.token.important,
.token.variable {
  color: #c678dd;
}
