body {
  margin: 0;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  line-height: 1.6rem;
}

*[onclick] {
  cursor: pointer;
}

.bar {
  display: flex;
  justify-content: space-between;
}

#top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin: 1.2rem 0 0 0;
  line-height: 2rem;
}

#mode-buttons {
  margin-right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-button {
  cursor: pointer;
}

#word-count span,
#time-count span {
  cursor: pointer;
}

#command-center {
  margin: 0 0.4rem;
  width: 100%;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(-2vh);
}

#typing-area,
#coding-area {
  margin-top: 1rem;
  padding: 1.4rem 1rem;
  border-radius: 0.4rem;
}

#text-display,
#code-display {
  margin-bottom: 1rem;
  overflow: hidden;
}

#input-field {
  width: 100%;
  border: none;
  font: inherit;
  padding: 0.4rem 1rem;
  border-radius: 0.2rem;
  font-size: 1.2rem;
}

#restart-button {
  margin-left: 0.7rem;
  border: none;
  font: inherit;
  padding: 0.4rem 1rem;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

body,
#header,
#left-wing,
#right-wing,
#typing-area,
#coding-area,
#theme-area,
#theme-center,
#text-display,
#code-display,
#restart-button,
#highlight {
  transition: all 0.4s ease-in-out 0s;
}

#code-display {
  height: 3.2rem;
}
