body {
  margin: 0;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

*[onclick] {
  cursor: pointer;
}

#top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin: 1.2rem 0 0 0;
  line-height: 2rem;
}

#command-center {
  margin: 0 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(-2vh);
}

#header,
#left-wing,
#right-wing,
#restart-button,
#input-field {
  color: var(--vscode-foreground);
}

#text-display,
#code-display,
#typing-area,
#coding-area {
  background: #404754;
  color: #ffffff;
}

.bar {
  display: flex;
  justify-content: space-between;
}

.codeButton {
  position: fixed;
  bottom: calc(var(--vscode-editor-font-size) * 2);
  right: calc(var(--vscode-editor-font-size) * 2);
  z-index: 999;
}

#word-count span,
#time-count span {
  cursor: pointer;
}

#typing-area,
#coding-area {
  margin-top: 1rem;
  padding: 1.4rem 1rem;
  border-radius: 0.4rem;
}

#typing-area {
  width: 80vw;
  max-width: 45rem;
}

#input-field {
  width: 100%;
  border: none;
  font: inherit;
  padding: 0.4rem 1rem;
  border-radius: 0.2rem;
  font-size: 1.2rem;
}

#coding-area {
  outline: none;
  width: 80vw;
  max-width: 55rem;
  max-height: 60vh;
  overflow: scroll;
}

#coding-area:after {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20%;
  width: 100%;
  content: "";
  border-radius: 0.4rem;
  background: linear-gradient(to top, #404754 20%, rgba(255, 255, 255, 0) 80%);
  pointer-events: none;
}

#text-display,
#code-display {
  margin-bottom: 1rem;
  overflow: hidden;
}

#code-display {
  height: 3.2rem;
}

#restart-button {
  margin-left: 0.7rem;
  border: none;
  font: inherit;
  padding: 0.4rem 1rem;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  cursor: pointer;
}

#restart-button,
#input-field {
  background: var(--vscode-editor-background);

  color: var(--vscode-foreground);
}

#input-field.wrong {
  color: #e05561;
}

.highlight {
  color: #f0a45d;
}

.correct {
  color: #8cc265;
}

.wrong {
  color: #e05561;
}

.hidden {
  display: none !important;
}

.code {
  position: relative;
}

.charDiv {
  display: inline;
  overflow: hidden;
}

.char {
  display: inline;
  margin: 0;
  padding: 0;
  width: fit-content;
  font-family: var(--vscode-editor-font-family);
}

.char.topass {
  opacity: 0.62;
}

.char.notpassed {
  background: #e05561;
}

#charDimensions {
  height: calc(var(--vscode-editor-font-size) * 1.25);
  width: calc(var(--vscode-editor-font-size) * 0.5578);
}

#cursor {
  display: inline-block;
  position: absolute;
  background: #5dbeff;
  height: calc(var(--vscode-editor-font-size) * 1.25);
  width: calc(var(--vscode-editor-font-size) * 0.13);
  opacity: 1;
  top: 0;
  animation: cursor 0.85s infinite ease-in;
}

@keyframes cursor {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}
