body {
  background-color: var(--vscode-editor-background);
}

#header,
#left-wing,
#right-wing,
#text-display,
#restart-button,
#input-field {
  color: var(--vscode-foreground);
}

#text-display,
#typing-area {
  background: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
}

#restart-button,
#input-field {
  background-color: var(--vscode-editor-background);
  color: var(--vscode-foreground);
}

#input-field.wrong {
  color: #e05561;
}

#footer {
  color: #eceff4;
}

.highlight {
  color: #f0a45d;
}

.correct {
  color: #8cc265;
}

.wrong {
  color: #e05561;
}
