body {
  background-color: var(--vscode-editor-background);
}

#header,
#left-wing,
#right-wing,
#text-display,
#code-display,
#restart-button,
#input-field {
  color: var(--vscode-foreground);
}

#text-display,
#code-display,
#typing-area,
#coding-area {
  background: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
}

#coding-area:after {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20%;
  width: 100%;
  content: "";
  border-radius: 0.4rem;
  background: linear-gradient(
    to top,
    var(--vscode-button-background) 20%,
    rgba(255, 255, 255, 0) 80%
  );
  pointer-events: none; /* so the text is still selectable */
}

#restart-button,
#input-field {
  background-color: var(--vscode-editor-background);
  color: var(--vscode-foreground);
}

#input-field.wrong {
  color: #e05561;
}

#footer {
  color: #eceff4;
}

.highlight {
  color: #f0a45d;
}

.correct {
  color: #8cc265;
}

.wrong {
  color: #e05561;
}
