body.colorblind #text-display {
  color: #b4bdc7;
}

body.colorblind #input-field.wrong {
  color: #b2a048;
}

body.colorblind .highlight {
  color: #ffffff;
}

body.colorblind .correct {
  color: #6a91dc;
}

body.colorblind .wrong {
  color: #b2a048;
}
